.list {
  margin: 0;
  padding: 0.2%;
  width: 100%;
  list-style: none;
  display: flex;
}
li {
  margin-left: 1%;
}
.button {
  margin-top: 0.3%;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 3%;
  color: white;
  display: flex;
  padding: 0%;
  border: none;
  background: rgb(35, 47, 62);
}
.sub-cont {
  display: flex;
  background: rgb(35, 47, 62);
  height: 5vh;
  width: 100%;
  color: white;
}
.icon {
  width: 88%;
  margin-top: 9.6%;
}
