.main-cont {
  padding: 2% 2% 0 2%;
  display: flex;
  width: 100%;
}
.section-1 {
  display: flex;
  height: 60vh;
  margin-right: 1%;
  width: 35%;
}
.section-2 {
  border: 1px solid black;
  width: 20%;
  height: 20vh;
  margin-right: 2%;
  width: 41%;
}
.section-3 {
  border: 1px solid black;
  width: 20%;
  height: 20vh;
}

.small-img {
  height: 32.5vh;
  display: flex;
  flex-direction: column;
  width: 14%;
  overflow-y: scroll;
}
.images {
  /* box-shadow: 2px 2px 6px 2px black; */
  border: 1px solid black;
  border-radius: 14px;
  height: 62px;
  min-height: 62px;
  max-height: 62px;
  margin-top: 5%;
}
.large-img {
  height: 59vh;
  min-height: 59vh;
  max-height: 59vh;
  padding: 1.5%;
  width: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

Track ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
