.footer {
  color: red;
}

.backToTop {
  height: 40px;
  background: #444;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first {
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 20px;
}
.introduction {
  margin-top: -6%;
}
.online {
  margin-top: -7.5%;
}
.help {
  margin-top: -5.2%;
}
.first ul li {
  list-style: none;
  color: white;
}

.second {
  background: #333;
  color: white;
  padding: 20px;
  border-top-width: 1px;
  /* border-top-style: solid; */
  border-top-color: #777;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.country {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.third {
  padding: 20px;
  background: #222;
  color: white;
}

.third ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}
.bussiness {
  margin-left: 3.1%;
}
/* .shop {
  margin-left: 2%;
} */

.listFirst {
  margin-bottom: 30px;
}

.lastList {
  margin-top: 60px;
  display: flex;
  gap: 10px !important;
}

.para {
  text-align: center;
  margin-top: 10px;
}
